<!DOCTYPE html>
<html>
    <head>
        <title>Angelo's blog</title>
    </head>
    <body>
        <header>
            <h1>Angelo's Blog</h1>
        </header>

        <article>
            <time>published: 25.03.22</time>
            <h2>My first blog</h2>
            <p>nice to be able to create a blog from scratch with django</p>
        </article>

        <article>
            <time>published: 25.03.22</time>
            <h2>My second blog</h2>
            <p>learning new things is always useful</p>
        </article>
    </body>
</html>

